/* Variables */
$pageTitle: #B2B2B2;
$paragraph: #6F6F6F;
$title: #252525;
$addItemBg: #784CC0;
$white: #FFF;
$heartIconColor: #E54D42;
$ctaBorder: #EDEDEF;
$inputBorder: #DEDEE0;
$placeholder: #D8D8D8;
